/*================================================================================*/
/* 全体のレイアウト*/
html,body {
  height: 100%;
}
body {
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  background-size: 100%;
}

.Todo-container {
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

/*================================================================================*/

/* メニューボタンのレイアウト */
#btn_menu {
	position: relative;
	display: flex;
  text-align: right;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 25px;
	height: 25px;
	box-sizing: border-box;
	background-color: #a3a3a3;
	transition: background-color 0.3s ease;
  border: none;
  border-radius: 10px;
}
#btn_menu::before {
	position: absolute;
	top: calc(50% - 1px);
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #f7f7f7;
	opacity: 0;
	transform: rotate(45deg);
	transition: opacity 0.3s ease;
}
#btn_menu span {
	display: block;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	opacity: 1;
	transition: opacity 0.3s ease;
}
#btn_menu span::before,
#btn_menu span span, #btn_menu span::after {
	position: absolute;
	top: 12%;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background: #f7f7f7;
	transition: opacity 0.3s ease;
}
#btn_menu span span {
	top: calc(50% - 1px);
}
#btn_menu span::after {
	top: auto;
	bottom: 12%;
}
#btn_menu::after {
	position: absolute;
	top: calc(50% - 1px);
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #f7f7f7;
	opacity: 0;
	transform: rotate(-45deg);
	transition: opacity 0.3s ease;
}
#btn_menu:hover {
	background-color: #555;
}
#btn_menu.active::before {
	opacity: 1;
}
#btn_menu.active span {
	opacity: 0;
}
#btn_menu.active::after {
	opacity: 1;
}

/*================================================================================*/
/* ヘッター部分のレイアウト */
.header-area {
  border-radius: 10px;
  position: fixed; /* ヘッダーを固定する */
  top: 20px; 
  left: 0;
  width: 100%;
}

/* タイトルのレイアウト*/
.Title {
  text-align:left;
  width: 25%;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 0;
  color: #ffffff;
}

/* 中身のレイアウト*/
.body-area {
  margin-top: 265px;
}
.Title-area {
  display: flex;
  flex-wrap: wrap; /* 折り返したいんだ！ */
  width: 100%;
}
.Title-area h3 {
  margin: 0 auto;
  width: 50%;
}

/*================================================================================*/
/* 時計のレイアウト */
.clock-area {
  text-align: center;
  color: #ffffff; /* デジタルグリーン */
  margin-bottom: 30px;
}

.time-display {
  font-size: 65px; /* 時刻のサイズ */
  font-weight: bold;
  color: #ffffff; /* 時計の色 */
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.date-display {
  font-size: 24px; /* 日付のサイズ */
  color: #ffffff; /* 日付の色 */
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}


/*================================================================================*/
/* お問い合わせフォームのレイアウト */
.foam-area {
  display:flex;
  flex-wrap: wrap;
  margin:0 auto;
  width: 500px;
  letter-spacing: 0.03rem;
}

/* 入力欄のレイアウト */
.input-area1 {
  margin:5px auto;
  width:50%;
}
.input-area2 {
  margin:5px auto;
  width:50%;
}
.input-area3 {
  margin:5px auto;
  width:100%;
}

.input-area1 h3 {
  color: #ffffff;
  text-align:left;
  margin-bottom: 5px;
}
.input-area2 h3 {
  color: #ffffff;
  text-align:left;
  margin-bottom: 5px;
  margin-left: 20px;
}
.input-area3 h3 {
  color: #ffffff;
  text-align:left;
  margin-bottom: 5px;
}

.input1 {
  float: left;
  width:90%;
  padding:1em;
  color: #000000;
  margin-left:0;
}
.input2 {
  float: right;
  width:80%;
  padding:1em;
  color: #000000;
  margin-left:0;
}
.input3 {
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  color: #000000;
}


/*================================================================================*/
/* ポップアップのレイアウト */
.popup-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* ポップアップ本体 */
.popup {
  color: #000;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

/* 閉じるボタン */
.closebtn {
  margin-top: -4px;
  margin-right: 0px;
  padding: auto auto;
  color: #ffffff;
  background: #ff0000;
  float: right;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.closebtn:hover,

.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.sendbtn {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 14px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.sendbtn:hover {
  background: #0056b3;
}
.sendbtn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


/* ポップアップ内ののスタイル */
.popup-input-area {
  margin: 10px 0;
}
.popup-input-area  h4 {
  text-align:left;
  margin-left: 25px;
  margin-bottom: 5px;
}
.popup-input {
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  background-color: #d4d4d4;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
.popup-textarea {
  resize: vertical;
  min-height: 25px;
  max-height: 100px;
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  background-color: #d4d4d4;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

/* エラー時のスタイル */
.error-field {
  background-color: #ffe6e6;
  border: 1px solid red;
}
.popup-input.error-field {
  background-color: #ffe6e6;
  border: 1px solid red;
}

/*================================================================================*/
/* 一覧のレイアウト */
.list-area {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap; /* 折り返したいんだ！ */
}

.taskmanager {
  width : calc(100% / 2.06); /* タスクは画面に２つずつ表示 */
  border-radius: 10px; /* テーブル全体の角を丸くする */
  padding: 5px;
}

.task {
  width : 100%;
  list-style: none;  /* リストマーク（・）を消す */
  margin: 5px 5px 30px 5px;
}

/* Todoリストのレイアウト */
.Todocell {
  border: none; /* 枠線なし */
  border-radius: 10px; /* 角丸にする */
  overflow: hidden; /* 丸角の外にはみ出る部分を隠す */
  background: none; /* 背景色は『なし』 */
  padding: 0;
  height: auto;
}

/* Todoリストの進捗状況のレイアウト */
.Situation-green {
  color: #000;
  background: #53ff5c;
  padding: 5px;
  text-align: center;
  text-shadow: none;
  font-weight: bold;
  display: flex;
}
.Situation-red {
  color: #000;
  background: #ff6753;
  padding: 5px;
  text-align: center;
  text-shadow: none;
  font-weight: bold;
  display: flex;
}
.Situation-blue {
  color: #000;
  background: #53c0ff;
  padding: 5px;
  text-align: center;
  text-shadow: none;
  font-weight: bold;
  display: flex;
}
.Situation-Title {
  flex: 2;
  text-align: center;
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Todoリストの内部のレイアウト */
.list-1 {
  color: #000;
  background: #fff;
  padding: 5px;
  text-shadow: none;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 100%;
  height: auto;
}

.taskname-input {
  display: flex;
}
.taskname-input input {
  margin-top: 5px;
  margin-left: 15px;
  border:none;
  outline:0;
  height: 25px;
}

.taskname {
  margin-top: -10px;
  margin-left: 15px;
  width: 100%;
  text-align: left;
}

.endday {
  margin-top: -32px;
  margin-left: 45px;
  font-size: 20px;
  text-align: left;
}

/*================================================================================*/
/* カレンダー(日付選択)のレイアウト */
.my-datechoice {
  display: block;
  position: relative;
  margin: 1rem 0;
  cursor: pointer;
  user-select: none; /* テキストの選択を防ぐ */
}

.day-input-icon {
  position: absolute;
  top: -15px; /* 上からの位置 */
  left: 8px;
}

.react-datepicker-wrapper {
  position: absolute;
  top: -15px; /* 上からの位置 */
  left: 43px;
}
.react-datepicker__input-container {
  height: 25px;
}
.react-datepicker-popper {
  position: absolute;
  z-index: 9999; /* 他の要素に隠れないよう調整 */
  top: 15px;        /* 必要に応じて位置を調整 */
  left: 0;
}

.day-input {
  border:none;
  outline:0;
  cursor: pointer;
  margin-top: 2px;
  font-size: 20px;
}

/*================================================================================*/
/* チェックボックスのレイアウト */
.my-taskcheck {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 28px;
  cursor: pointer;
  user-select: none; /* テキストの選択を防ぐ */
}
/* inputは非表示にする */
.my-taskcheck input {
  display: none;
}

/* □ */
.checkmark {
  position: absolute;
  top: -10px; /* 上からの位置 */
  left: 10px;
  height: 22px; /* 大きさ */
  width: 22px; /* 大きさ */
  border: solid 2px #d4dae2; /* 線 */
  border-radius: 4px;
  box-sizing: border-box;
}

/* ✓ */
.checkmark:after {
  content: "";
  position: absolute;
  left: 5px; /* チェックの位置 */
  top: 1px; /* チェックの位置 */
  width: 6px; /* チェックの大きさ */
  height: 10px; /* チェックの大きさ */
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0; /* 透明にしておく */
}

/* チェックが入ったときの□ */
.my-taskcheck input:checked + .checkmark {
  background: #2e80ff; /* チェック時の色 */
  border-color: #2e80ff; /* チェック時の色 */
}

/* チェックが入ったときの✓ */
.my-taskcheck input:checked + .checkmark:after {
  opacity: 1; /* 透明を解除 */
}

/*================================================================================*/
/* ボタンのレイアウト */
.btn-text {
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.btn0 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 50px;
  background: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn0:hover {
  background-color: #0056b3;
}

.btn0:active {
  transform: scale(0.95);
}

.btn {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px 0px 5px 0px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:active {
  transform: scale(0.95);
}

